{
    "plugins": [
        [
            "@codedependant/semantic-release-docker",
            {
                "dockerImage": "revanced-discord-bot",
                "dockerRegistry": "ghcr.io",
                "dockerProject": "revanced",
                "dockerContext": "../..",
                "dockerPlatform": [
                    "linux/amd64",
                    "linux/arm64"
                ],
                "dockerArgs": {
                    "GITHUB_ACTOR": null,
                    "GITHUB_TOKEN": null
                }
            }
        ]
    ]
}