{
    "root": true,
    "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "prettier"],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": "latest"
    },
    "rules": {
        "import/no-unresolved": "error",
        "prettier/prettier": [
            "error",
            {
                "quoteProps": "consistent",
                "singleQuote": true,
                "tabWidth": 4,
                "trailingComma": "es5",
                "useTabs": false
            }
        ]
    },
    "plugins": ["import", "prettier"],
    "settings": {
        "import/parsers": {
            "@typescript-eslint/parser": [".ts", ".tsx"]
        },
        "import/resolver": {
            "typescript": {
                "alwaysTryTypes": true,
                "project": ["./tsconfig.base.json"]
            }
        }
    }
}
